#shadow-css-slideDiv {
    /*基础属性设置*/
    margin: 0;
    padding: 0;
    width: var(--width,150px);
    height: var(--height,50px);
    color: var(--color,black);
    background: var(--background,white);
    border: var(--border,3px solid black);
    border-radius: var(--border-radius,20px);
    /*内容居中对齐*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*整体左右布局*/
    float: var(--float,right);
    overflow: auto;
    /*动画平移*/
    transform: translateX(var(--translateX,140px));
    transition: all 0.4s ease 0s;
}

#shadow-css-slideDiv:hover {
    transform: translateX(0px);
    transition: all 0.4s ease 0s;
}