#shadow-css-slideDiv2 {
    /*基础属性设置*/
    margin: 0;
    padding: 0;
    width: var(--width,150px);
    height: var(--height,50px);
    color: black;
    background: white;
    border: 3px solid black;
    /*整体左右布局*/
    float: var(--float,left);
    overflow: auto;
    /*flex布局*/
    display: flex;
    flex-direction: var(--flex-direction,row);
    /*动画平移*/
    transform: translateX(var(--translateX,0));
    transition: all 0.4s ease 0s;
}

#slideDiv2-content {
    flex: 3;
    background: antiquewhite;
    /*flex内容居中对齐*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideDiv2-clickArrow {
    flex: 1;
    background: cornsilk;
    /*flex内容居中对齐*/
    display: flex;
    justify-content: center;
    align-items: center;
}