<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slide div2</title>
    <link rel="stylesheet" type="text/css" href="slide_div2.css">
</head>
<body style="padding: 0;margin: 0">
    <div id="shadow-css-slideDiv2"
         style="
                --width: 150px;
                --height: 50px;
                /*--float: right;*/
                /*--flex-direction: row-reverse;*/
               "
    >

        <div id="slideDiv2-content">slide div2</div>
        <div id="slideDiv2-clickArrow">🖱</div>
    </div>
</body>
<script>
    let slideDiv2 = document.getElementById("shadow-css-slideDiv2");
    let slideDiv2style = getComputedStyle(slideDiv2);

    let width = Number(slideDiv2style.width.split("px")[0]);
    let translateX = width * 3 / 4;
    if (slideDiv2style.float === "left"){
        translateX *= -1;
    }
    translateX = translateX.toString() + "px";
    slideDiv2.style.setProperty("--translateX",translateX);


    let button = document.getElementById("slideDiv2-clickArrow");
    button.onclick = function () {
        if(slideDiv2style.getPropertyValue("--translateX") === "0"){
            slideDiv2.style.setProperty("--translateX",translateX);
        }
        else {
            slideDiv2.style.setProperty("--translateX", "0");
        }
    }
</script>
</html>